# add an /etc/hosts entry like:
# 127.0.1.3 serverproxy
# and a matching known_hosts entry like:
# serverproxy ssh-ed25519 AAAAC3Nzap...
# then run this config on the client side with `stunnel4 ./client.conf`
# then do `ssh -p 2222 serverproxy` to connect with host key verification
# TODO: it may be possible to replace this with a suitable ProxyCommand in ~/.ssh/config

foreground = yes
pid =
client = yes

[remote_ssh_over_tls]
connect = <your-server-domain-here>:443
accept = 127.0.1.3:2222

# comment these out if you don't have a valid server-side certificate
verifyChain = yes
CAPath = /etc/ssl/certs
checkHost = <your-server-domain-here>
